.exercises {
    text-align: center; 
    font-size: 40px; 
}
.content{
    padding-top: 300px;
}
#menu {
    position: fixed;
    top: 0;
    text-align: center;
    width:100%;
    font-size: 35px;
    background:rgb(255, 255, 255)
}
.chest-exercises {
    text-align: center;
    display: inline-block;
    min-height: 80vh;
    width: 30%;
    padding-right: 10px;
}
.back-exercises {
    text-align: center;
    display: inline-block;
    min-height: 80vh;
    width: 30%;
    padding-right: 10px;
}
.shoulder-exercises {
    text-align: center;
    display: inline-block;
    min-height: 80vh;
    width: 30%;
    padding-right: 10px;
}
.arm-exercises {
    text-align: center;
    display: inline-block;
    min-height: 80vh;
    width: 30%;
    padding-right: 10px;
}
.core-exercises {
    text-align: center;
    display: inline-block;
    min-height: 80vh;
    width: 30%;
    padding-right: 10px;
}
.leg-exercises {
    text-align: center;
    display: inline-block;
    min-height: 80vh;
    width: 30%;
    padding-right: 10px;
}

#chest {
    background: rgb(150, 150, 150);
}

#back {
    background: rgb(150, 150, 150);
}

#shoulders {
    background: rgb(150, 150, 150);
}

#arms {
    background: rgb(150, 150, 150);
}
#core {
    background: rgb(150, 150, 150);
}
#legs {
    background: rgb(150, 150, 150);
}